// Header

.site-header {
  padding: $spacer * 3 0 $spacer * 3;

  .site-logo {
    width: 300px;
    @media screen and (max-width: $tiny-screen) {
      width: 200px;
    }
  }

  .site-desc {
    // position: fixed;
    // bottom: $spacer * 3;
    // left: $spacer * 3;
    // color: $white;
    // z-index: 5;
    // font-size: $small-font-size;
    // @media screen and (max-width: $small-screen) {
    //   @include hide;
    // }
    @include hide;
  }
}
