// Nav
$nav-link: $white;
$nav-link-hover: $white;
$nav-link-active: $white;

$sub-nav-link: $white;
$sub-nav-link-hover: $white;

.site-nav-trigger {
  position: fixed;
  top: $spacer * 4;
  left: $spacer * 3;
  z-index: 10;
  @media screen and (max-width: $small-screen) {
    position: fixed;
    top: $spacer * 3;
    right: $spacer * 2;
    left: auto;
    color: $white;
    z-index: 10;
    padding: 0;
    background: $dusty-blue;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    line-height: 1;
  }
  @media screen and (max-width: $tiny-screen) {
    right: $spacer;
  }
}

.main-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: $c-cover;
  background: $kitten-orange;
  transform: translateX(-100%);
  transition: transform $trans-time;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  @media screen and (max-width: $small-screen) {
    width: $c-100w;
  }
}

.site-nav-is-open {

  .main-nav {
    transform: translateX(0);
    transition: transform $trans-time;
    transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  }

  .site-nav {
    opacity: 1;
  }

  .site-nav-trigger {
    @media screen and (max-width: $small-screen) {
      background: $kitten-orange;
    }
  }

}

.site-nav {
  transition: opacity $trans-time;
  position: relative;
  top: $spacer * 9;
  left: $spacer * 3;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  line-height: $heading-line-height;
  @media screen and (max-width: $small-screen) {
    justify-content: flex-start;
    left: $spacer * 2;
    top: $spacer * 8;
  }

  @media screen and (max-width: $small-screen) {
    .nav-item {
      margin-top: $spacer / 2;
    }
  }
  a {
    transition: color $trans-time;
    font-size: $base-font-size * 2.5;
    color: $nav-link;
    font-weight: bold;
    @media screen and (max-width: $small-screen) {
      font-size: $base-font-size * 2;
    }
    &:hover {
      color: rgba($nav-link-hover,0.5);
    }
  }
  .sub-nav {
    @media screen and (max-width: $small-screen) {
      li {
        display: inline-flex;
        margin-right: $spacer / 2;
      }
    }

    a {
      font-size: $base-font-size;
    }
  }

}
