// Nav
$nav-link: $white;
$nav-link-hover: $white;
$nav-link-active: $white;

$sub-nav-link: $white;
$sub-nav-link-hover: $white;

.main-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: $kitten-orange;
  transform: translateX(-100%);
  transition: transform $trans-time;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.site-nav-is-open .main-nav, {
  transform: translateX(0);
  transition: transform $trans-time;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.site-nav-is-open {
  .site-nav {
    opacity: 1;
  }
}

.site-nav {
  transition: opacity $trans-time;
  position: relative;
  top: $spacer * 10;
  left: $spacer * 4;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  line-height: $heading-line-height;
  @media screen and (max-width: $small-screen) {
    justify-content: flex-start;
    margin: 0 $small-site-gutters;
    top: $spacer * 4;
  }

  @media screen and (max-width: $small-screen) {
    .nav-item {
      margin-top: $spacer / 2;
    }
  }
  a {
    transition: color $trans-time;
    font-size: $base-font-size * 3;
    color: $nav-link;
    font-weight: bold;
    @media screen and (max-width: $small-screen) {
      font-size: $base-font-size * 1.25;
    }
    &:hover {
      color: rgba($nav-link-hover,0.5);
    }
  }
  .sub-nav {
    @media screen and (max-width: $small-screen) {
      li {
        display: inline-flex;
        margin-right: $spacer / 2;
      }
    }

    a {
      font-size: $base-font-size;
    }
  }

}
