// Site

html {
  background: $white;
}

body {}

.hide {
  @include hide;
}

.wrapper {
  width: $c-main;
  height: 100%;
  float: right;
  padding: 0 $spacer * 2;
  @media screen and (max-width: $small-screen) {
    width: $c-100w;
    float: none;
  }
  @media screen and (max-width: $tiny-screen) {
    padding: 0 $spacer;
  }
}

.main {
  // position: relative;
  // padding-top: $spacer * 3;
  //
  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 3px;
  //   width: 38.2%;
  //   background: $dusty-blue;
  // }
}

.cover-image {
  position: fixed;
  top: 0;
  left: 0;
  width: $c-cover;
  height: 100vh;
  float: left;
  background-color: $kitten-orange;
  background-image: url('#{$imagePath}/home-page-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: content-box;
  @media screen and (max-width: $small-screen) {
    position: static;
    width: 100%;
    height: 50vh;
  }

  .es, .en, .fr {
    position: absolute;
    z-index: 2;
    color: $white;
    font-size: $base-font-size * 3;
    font-weight: bold;
    @media screen and (max-width: $small-screen) {
      @include hide;
    }
  }

  .es {
    top: 33%;
    left: 30%;
  }

  .en {
    top: 50%;
    left: 48%;
  }

  .fr {
    top: 66%;
    left: 18%;
  }
}
