.page-template, .page-template-default {
  position: relative;

  .cover-image {
    background-image: url('#{$imagePath}/page-background.jpg');
  }

  .the-title h1 {
    @include title;
  }
}

.page-template-page-work {

  .cover-image {
    background-image: url('#{$imagePath}/portfolio-page-background.jpg');
  }
}

.page-template-page-contact {

  .cover-image {
    background-image: url('#{$imagePath}/contact-page-background.jpg');
  }
}
