.list-item {
  padding-bottom: $spacer * 2;

  .post-thumbnail {
    margin-bottom: $spacer;
    filter: grayscale(100%);
    transition: filter $trans-time;

    &:hover {
      filter: grayscale(50%);
    }
  }

}
