.custom-bogo-language-switcher {
  position: fixed;
  left: $spacer * 3;
  bottom: $spacer * 3;
  z-index: 5;
  @media screen and (max-width: $small-screen) {
    color: $base-font-colour;
    padding-bottom: $spacer * 1;
  }

  li {
    height: 32px;
    width: 32px;
    display: inline-block;
    text-indent: -9999rem;
    margin-right: $spacer;

    &.en, &.en a {
      background-image: url('#{$imagePath}/flag-en.svg');
    }

    &.es, &.es a {
      background-image: url('#{$imagePath}/flag-es.svg');
    }

    &.fr, &.fr a {
      background-image: url('#{$imagePath}/flag-fr.svg');
    }

    &.ca, &.ca a {
      background-image: url('#{$imagePath}/flag-ca.svg');
    }

  }

  a {
    height: 32px;
    width: 32px;
    display: block;
  }
}
